<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <p>Edit Your Chat: <%= chat._id%></p>
    <p>This chat was send from <i><%= chat.from%></i> to <i><%= chat.to%></i></p><br/>

    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="msg" rows="10" cols="50" ><%=chat.msg%></textarea><br/>
        <button type="submit">Edit</button>
    </form>
</body>
</html>